html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* padding: 10px berfungsi memberikan space tambahan untuk margin di class outer */
main{
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(135deg, #2A2F4F 27.3%, #444368 48.09%, #917FB3 98.41%);
}

/* top: 100px, right-left: auto, bottom: 20px */
/* padding sebagai pengganti height */
.app-body{
    background: #fff;
    margin:  100px auto 20px;
    width: 100%;
    max-width: 600px;
    padding: 20px 30px 70px;
    border-radius: 10px;
}

.title-body,
.button-add,
.task{
    display: flex;
}

.title-body{
    width: 100%;
    font-size: 15px;
    color:#2A2F4F ;
    border-bottom: 2px solid #E5BEEC;
}

.title-body .title-icon{
    padding: 30px 15px;
}

/* button setting */
.button-icon,
.task-setting{
    padding: 10px 10px 0px 2px;
}
.button-placeholder{
    padding: 12px 0px;
    font-weight: 700;
    color: #917FB3;
}
.button-add{
    /* background-color: grey; */
    /* margin-bottom: 10px; */
}

/* task setting */
.task{
    padding-left: 5px;
}
.task-setting{
   /* background-color: red; */
}
/* untuk ini, buat dia before after aja pake icon  */

.task-desc{
    /* background: blue;
    color: red; */
}
.desc{
    padding-top: 6.5px;
}